h1 Domainr node module example


form(method="GET", action="", id="domainr-wrapper")
	
	input(type="text", id="js-domain_input", placeholder="type a domain here")
	input(type='submit', value='Get your domain!')


ul#results
